{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid my-4">
    <div class="row">
        <div class="col-10 offset-1 border text-center">
            <h4 class="text-center py-3 text-info">
                Chatroom : {{ chatroom.name }}
            </h4>
            <hr class="w-50">
            <p>{{ chatroom.subject }}
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
        {% for i in chatroom.comment.all %}
            <div class="col-10 offset-1 border bg-light p-4 mt-2">
                <p>
                    {{ i.user }} <br>
                    {{ i.content }}
                </p>
                <small class="text-muted">{{ i.date }}</small>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-10 offset-1 px-0 my-4">
            <form action="{% url 'chatroom_detail' chatroom.chatroom_id %}" method="POST">
                {% csrf_token %}
                {{ add_comment_form | crispy }}
                <button class="btn btn-success" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
