/* ------------------------------------ Main content config */

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    position: relative;
    font-family: 'Lato', sans-serif;
    color: #0d0d0d;
    background-color: #f2f2f2;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: #634628;
}

p {
    max-width: 60ch;
}

.btn,
button,
a {
    /* will make impossible for the user to select the text in the button */
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    text-decoration: none;
    cursor: pointer;

    border: none;
}

.btn,
button {
    color: #0d0d0d;
    background-color: #b1e9fc;
}

a {
    color: #325663;
}

.btn:hover,
.btn:active,
.btn:focus,
button:hover,
button:active,
button:focus {
    text-decoration: none;
    color: #b1e9fc;
    background-color: #0d0d0d;
    outline: none;
}

a:hover,
a:active,
a:focus {
    text-decoration: underline;
    color: #0d0d0d;
    text-shadow: .5px 1px 2px #b1e9fc;
}

/* colors */
.brown {
    color: #634628;
}

.brown-faded {
    color: #b08e6a;
}

.light-blue {
    color: #b1e9fc;
}

.dark-blue {
    color: #325663;
}

.blue-faded {
    color: #6a9eb0;
}

.black {
    color: #0d0d0d;
}

.offwhite {
    color: #f2f2f2;
}

/* background */

/* for cancel button etc... */
.bg-red {
    background-color: #dc3545;
}

.bg-offwhite {
    background-color: #f2f2f2;
}

/* --------------------------------------- Toasts messages */

.message-container {
    position: fixed;
    top: 60px;
    right: 18px;
    z-index: 99999999999;
}

.toast-capper {
    height: 2px;
}
