/* ------------------------------------ Main content config */

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    position: relative;
    font-family: 'Lato', sans-serif;
    color: #0d0d0d;
    background-color: #eeedeb;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    color: #6a9eb0;
}

/* --------------------------Nav bar */
.site-nav {
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.logo {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 25px;
}

.site-menu li {
    padding-right: 15px;
}

.site-menu li a {
    letter-spacing: 1xpx;
    font-family: "Poppins";
    font-weight: 400;
}

/* --------------------------Buttons */
.btn,
button,
a {
    /* will make impossible for the user to select the text in the button */
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    text-decoration: none;
    cursor: pointer;

    border: none;
}

a {
    color: #325663;
}

.btn:hover,
.btn:active,
.btn:focus,
button:hover,
button:active,
button:focus {
    text-decoration: none;
    color: #b1e9fc;
    background-color: #0d0d0d;
    outline: none;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: #0d0d0d;
    text-shadow: .5px 0.5px 2px #b1e9fc;
    cursor: pointer;
}

.btn--cta {
    font-weight: bold;
    border-radius: 5px;
    padding: 12px 6px;
}

.join {
    width: 200px;
}

.btn--black {
    color: #eeedeb;
    background-color: #000000;
    border-color: #000000;
}

/* colors */
.brown {
    color: #634628;
}

.brown-faded {
    color: #b08e6a;
}

.light-blue {
    color: #b1e9fc;
}

.dark-blue {
    color: #325663;
}

.blue-faded {
    color: #6a9eb0;
}

.black {
    color: #0d0d0d;
}

.offwhite {
    color: #f2f2f2;
}

/* background */

/* for cancel button etc... */
.bg-red {
    background-color: #dc3545;
}

.bg-offwhite {
    background-color: #f2f2f2;
}

.bg-info{
    background-color: #8ab4c2 !important;
}

.bg-brown{
    background-color: #634628;
}

/* --------------------------------------- Toasts messages */

.message-container {
    position: fixed;
    top: 60px;
    right: 18px;
    z-index: 99999999999;
}

.toast-capper {
    height: 2px;
}

/* --------------------------------------- Hero */

.hero {
    padding-top: 3rem;
    padding-bottom: 10rem;
}

.img-fluid {
    margin-top: 50px;
}

.sdac {
    letter-spacing: 2px;
}

.heading {
    font-size: 50px;
    font-weight: 700 !important;
}

/* --------------------------------- allauth */

.allauth-form-inner-content {
    margin-top: 1.5rem;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #0d0d0d;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 5px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #325663;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn class
    Copied from the inspector tool and adapted to the project
    */
	display: inline-block;
    font-weight: bold;
    color: #eeedeb;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border-color: #000;
    padding: 5px;
    margin-left: 6px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
	text-decoration: none;
    color: #b1e9fc;
    background-color: #0d0d0d;
    outline: none;
}

.allauth-form-inner-content a {
	color: #6a9eb0;
}

/* --------------------------------- Events */
.event-boxes {
    flex-wrap: wrap;
    display: flex;
}

.event-card {
    padding: 10px 15px;
}

.event-layout {
    flex-direction: column;
}


.event-layout .card-overflow {
    flex-basis: auto;
}

.event-img {
    overflow: hidden;
    position: relative;
}

.event-img-wrapper {
    transition: transform 0.15s ease-out 0s;
    position: absolute;
    inset: 0px;
}

.img-style {
    position:relative;
    overflow:hidden;
    display:inline-block;
    width:400px;
    height:235px;
    min-width: 400px;

}

.event-img-position {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
}

.card-content {
    background-color: rgb(255, 255, 255);
    color: rgb(91, 91, 91);
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: 0.875rem;
    line-height: 1.3;
    padding: 20px;
}

.event-date {
    display: flex;
    color: rgb(0, 130, 150);
    font-size: 0.75rem;
    line-height: 1.29;
    margin-bottom: 0.65rem;
    font-family: Poppins, sans-serif;
    font-weight: 600;
}

event-title {
    margin: 0px 0px 0.5em;
    font-size: 1.25rem;
    line-height: 1.25;
}


.event-address {
    color: #325663;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.29;
}

.event-details {
    color: #634628;
    text-decoration: none;
    font-size: 1rem;
    padding-bottom: 2px;
    background-image: linear-gradient(transparent calc(100% - 2px), rgb(0, 130, 150) 2px);
    background-size: 100% 100%;
}

/*------------------------------------Media */
@media screen and (min-width: 768px){
    .event-img {
        padding-top: 60%;
    }
}

@media screen and (min-width: 1024px){
    .event-card {
        width: 31.33%;
    }
}


@media screen and (min-width: 1024px){
    .event-card {
        padding: 10px 15px;
    }
}

/* -------------------------------- chatroom */

.chatroom-link .card {
    max-width: 360px;
}

.chatroom-link:hover .card {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);

    transition-property: transform;
    -o-transition-property: transform;
    -ms-transition-property: transform;
    -moz-transition-property: transform;
    -webkit-transition-property: transform;

    transition-duration: 500ms;
    -o-transition-duration: 500ms;
    -ms-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -webkit-transition-duration: 500ms;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
