/* ------------------------------------ Main content config */

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    position: relative;
    font-family: 'Lato', sans-serif;
    color: #0d0d0d;
    background-color: #eeedeb;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    color: #6a9eb0;
}

/* p {
    max-width: 60ch;
} */

/* --------------------------Nav bar */
.site-nav {
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.logo {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 25px;
}

.site-menu li {
    padding-right: 15px;
}

.site-menu li a {
    letter-spacing: 1xpx;
    font-family: "Poppins";
    font-weight: 400;
}




/* --------------------------Buttons */
.btn,
button,
a {
    /* will make impossible for the user to select the text in the button */
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    text-decoration: none;
    cursor: pointer;

    border: none;
}

a {
    color: #325663;
}

.btn:hover,
.btn:active,
.btn:focus,
button:hover,
button:active,
button:focus {
    text-decoration: none;
    color: #b1e9fc;
    background-color: #0d0d0d;
    outline: none;
}

a:hover,
a:active,
a:focus {
    text-decoration: underline;
    color: #0d0d0d;
    text-shadow: .5px 0.5px 1px #b1e9fc;
}

.btn--cta {
    font-weight: bold;
    width: 160px;
    border-radius: 0;
    padding: 15px 5px;
    width: 200px;

}

.btn--black {
    color: #eeedeb;
    background-color: #000000;
    border-color: #000000;
}

/* colors */
.brown {
    color: #634628;
}

.brown-faded {
    color: #b08e6a;
}

.light-blue {
    color: #b1e9fc;
}

.dark-blue {
    color: #325663;
}

.blue-faded {
    color: #6a9eb0;
}

.black {
    color: #0d0d0d;
}

.offwhite {
    color: #f2f2f2;
}

/* background */

/* for cancel button etc... */
.bg-red {
    background-color: #dc3545;
}

.bg-offwhite {
    background-color: #f2f2f2;
}

.bg-info{
    background-color: #8ab4c2 !important;
}

/* --------------------------------------- Toasts messages */

.message-container {
    position: fixed;
    top: 60px;
    right: 18px;
    z-index: 99999999999;
}

.toast-capper {
    height: 2px;
}

/* --------------------------------------- Hero */

.hero {
    padding-top: 3rem;
    padding-bottom: 10rem;
}

.img-fluid {
    margin-top: 50px;
}

.sdac {
    letter-spacing: 2px;

}

.heading {
    font-size: 50px;
    font-weight: 700 !important;
}

/* --------------------------------- allauth */

.allauth-form-inner-content {
    margin-top: 1.5rem;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #0d0d0d;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #325663;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn class
    Copied from the inspector tool and adapted to the project
    */
	display: inline-block;
    font-weight: bold;
    color: #eeedeb;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border-color: #000;
    padding: 5px;
    margin-left: 6px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
	text-decoration: none;
    color: #b1e9fc;
    background-color: #0d0d0d;
    outline: none;
}

.allauth-form-inner-content a {
	color: #6a9eb0;
}
